.white{
    background: #fff
}
.projectViewHeader {
    background: #f0c368;
    display: flex;
    justify-content: end;
}

.main_project_pic_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.main_project_pic_container img {
    width: 40vw;
    height: 30vh;
}

.main_project_details_container {
    width: 100vw;
    height: 20vh;
    background: #1d373f;
    display: flex;
    align-items: center;
}

.main_project_details_container_sm {
    background: #1d373f;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 25vh;
}

/* View Website Button */
.main_project_details_container_sm:last-child{
    justify-content: center;
}

.view_website_btn {
    color: #f0c368;
    border: 3px solid #f0c368;
    padding: .6em 1em;
    border-radius: 5px;
}

/* End of Website Button */

.main_project_details_container_sm h4 {
    color: #fff;
}

.main_project_details_container_sm h4.title {
    margin-bottom: 1em;
    margin-top: .7em;
    color: #f0c368;
}

.main_project_brief_section {
    padding: 2em 2em;
    display: flex;
    height: 100vh;
    background: rgb(255,255,255,.98);
}

.main_project_brief_section_sm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_project_brief_section_sm:first-child {
    flex: 2;
}

.main_project_brief_section_sm:nth-child(2) {
    padding: 1em;
}

.main_project_brief_section_sm img{
    width: 40vw;
    height: 90vh;
}

.main_project_brief_section_sm h3 {
    color: #f0c368;
    margin-bottom: 1em;
    font-weight: bold;
}

.main_project_brief_section_sm p {
    color: #818193;
}

.main_project_device_pics_container {
    padding: 2em 2em;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: rgba(196, 196, 196, 0.21);
}

.main_project_device_pics_container_sm img {
    height: 50vh;
    width: 40vw;
}

.main_project_device_pics_container_sm:last-child img {
    height: 70vh;
}

.main_project_device_pics_secondary{
    margin-top: 4em;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: rgba(196, 196, 196, 0.21);
}
.main_project_device_pics_secondary img {
    width: 73vw;
    height: 90vh;
}

.main_project_testimonial_container{
    padding: 2em 2em;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    text-align: center;
}

.main_project_testimonial_container h4{
    margin-top: 1em;
}





