.loading_container{
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    z-index: 10;
    pointer-events: none;
	top: 0;
	left: 0;
	overflow:hidden;
	width: 0vw;
	height: 100vh;
	background: #f0c368;
}

.yellow {
    background: #f0c368;
}
header {
    display: flex;
    padding: 2em;
    justify-content: space-around;
    align-items: center;
}

header a {
    padding: .7em 1.2em;
    border: 3px solid #1D373F;
    box-sizing: border-box;
    border-radius: 5px;
}

header a:last-child {
    background: #1D373F;
    color: #f0c368;
}

.perksContainer {
    padding: 2em 2em;
    display: flex;
    width: 95vw;
    justify-content: start;
    align-items: center;
}

.perks_Container_sm img {
    /* flex: 1; */
    width: 35vw;
    height: 40vh;
}

.perks_Container_sm:nth-child(2) img {
    height: 60vh;
}

.perks_Container_sm:last-child {
    flex: 2;
}


.perks_Container_sm li {
    padding: 0.4em;
    display: flex;
}

.perks_Container_sm li a:before {
    position: absolute;
    width: 12vw;
    height: .3vh;
    content: '';
    background: rgb(0,0,0,.7);
    margin-top: 2vh;
}

.perks_Container_sm li img {
    width: 3vw;
    height: 3vh;
}

.perks_Container_sm h3 {
    margin-top: 1em;
}

.projectsContainer {
    padding: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.projectsContainer_sm {
    position: relative;
    background: #FFFFFF;
    box-shadow: 25px 4px 29px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 40vw;
}

.projectsContainer_sm:hover > .hover_projects_Container {
    opacity: 1;
    /* transition: all 1.5s ease; */
}

.projectsContainer_sm img {
    width: 20vw;
    height: 20vh;
    border-radius: 27px;
}

.hover_projects_Container {
    opacity: 0;
    position: absolute;
    top: 72vh;
    background: #1d373f;
    width: 40vw;
    height: 28vh;
    color: #f0c368;
    border-radius: 7px;
    transition: opacity .7s ease-in-out;
}

/* TutorAR Download info */
.hover_projects_Container:nth-child(2) .bottom_part {
    padding-top: .4em;
}

.top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;
}

.top_part a {
    padding: .5em .7em;
    background: #f0c368;
    color: #1d373f;
    font-size: 1.5vw;
    border-radius: 5px;
    border: 2px solid #f0c368;
}

.top_part a:hover{
    background: #1d373f;
    color: #f0c368;
    border: 2px solid #f0c368;
}

.coming_soon:hover {
    background: #f0c368 !important;
    color: #1d373f !important;
}

.middle_part {
    margin-left: 1em;
    position: relative;
}

.middle_part li {
    text-align: start;
    list-style: square;
}

.bottom_part {
    padding: 1em;
}

.bottom_part h5 {
    font-size: 1.3vw;
}

#socials_section_main_container {
	display: flex;
    width: 100vw;
    margin-top: 15vh;
    background: #1d373f;
    height: 200vh;
	flex-direction: column;
	align-items: center;
}

#socials_section_main_container h1 {
	font-size: calc(var(--fontSize) + 1.5vw);
	color: #f0c368;
}

#socials_section_main_container h1 {
	padding: 1em;
	padding-top: 1.5em;
}

.socials_section_container_sm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 67vw;
	padding: 1.2em;
}

.socials_section_container_sm img {
	width: 15vw;
	height: 30vh;
}

.socials_section_container_sm a {
	color: #f0c368;
}

footer {
	background: #f0c368;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em;
}

@media (max-width: 600px){
    header a{
        border: 1px solid #1D373F;
    }
    .perksContainer {
        display: none;
    }
    .projectsContainer_sm , 
    .hover_projects_Container {
        width: 80vw;
    }
    .projectsContainer_sm img {
        width: 40vw;
    }
    .hover_projects_Container {
        height: 15vh;
        top: 85vh;
    }
    .top_part a {
        font-size: 2vw;
        padding: 1em .7em;
        font-weight: bolder;
    }
    .middle_part {
        margin-left: 2em;
        padding-top: .3em;
    }
    .bottom_part {
        /* padding: 1em !important; */
        display: flex;
        justify-content: flex-end;
    }
    .bottom_part h5{
        font-size: 2.2vw;
    }
    #socials_section_main_container {
		height: 100vh;
		justify-content: center;
	}

	.socials_section_container_sm img {
		height: 10vh;
	}
}